@(message: String)
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@message</title>

    <link rel='stylesheet' href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BlackJack Game</a>
        </div>
    </div>
</nav>

<div class="container" ng-app="blackjack-game">

    <div ng-switch on="page">

        <div ng-switch-when="create" ng-controller="CreateGameController">
            <p>
                <button ng-disabled="loading" type="button" class="btn btn-lg btn-primary" ng-click="createNewGame()">Create new game</button>
             <button ng-disabled="loading" id="start-game" type="button" class="btn btn-lg btn-primary" ng-click="startGame()">Start game</button>
            </p>
        </div>
     </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <hr />
                <p>Full source code available on <a href="https://github.com/">GitHub</a></p>
                <p>More details available on <a href="http://blog.scalac.io/">ScalaC Team Blog</a></p>
            </div>
        </div>
    </footer>

</div>
<script src='@routes.Assets.versioned("lib/jquery/jquery.js")' type='text/javascript'></script>
<script src='@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")' type='text/javascript'></script>
<script src='@routes.Assets.versioned("lib/angularjs/angular.js")' type='text/javascript'></script>
<script src='@routes.Assets.versioned("javascripts/app.js")' type='text/javascript'></script>
<script src='@routes.Assets.versioned("javascripts/controllers/create_game_controller.js")' type='text/javascript'></script>
<script src='@routes.Assets.versioned("javascripts/controllers/start_game_controller.js")' type='text/javascript'></script>
<script src='@routes.Assets.versioned("javascripts/controllers/game_controller.js")' type='text/javascript'></script>
<script src='@routes.Assets.versioned("javascripts/services/event_service.js")' type='text/javascript'></script>
<script src='@routes.Assets.versioned("javascripts/services/command_service.js")' type='text/javascript'></script>
    </body>
</html>